**/*.exe
**/*.class
/netbeans/practical1/nbproject/private/
/netbeans/pract1/nbproject/private/
/netbeans/pract1/build/
/netbeans/pract2/nbproject/private/
/netbeans/pract2/build/
/netbeans/pract3/nbproject/private/
/netbeans/pract3/build/
/netbeans/pract4/nbproject/private/
/netbeans/pract4/build/
/netbeans/pract5/nbproject/private/
/netbeans/pract7/nbproject/private/
/netbeans/pract6/nbproject/private/
/netbeans/pract6/build/
/netbeans/pract13/nbproject/private/
/netbeans/pract5/build/
/netbeans/pract11/nbproject/private/
/netbeans/pract7/build/
/netbeans/pract8/nbproject/private/
/netbeans/pract10/nbproject/private/
/netbeans/pract10/build/
/netbeans/pract12/nbproject/private/
/netbeans/pract12/build/
/netbeans/pract13/build/
/netbeans/pract14/nbproject/private/
/netbeans/pract14/build/